body {
	background-color: #333;
	font-family: hack, Arial, helvetica;
	color: #444;
}
body.twitter { background-color: #55acee; }
div {
	display: block;
	position: absolute;
	bottom: 5%;
	right: 5%;
}

h1 {
	font-size: 3em;
	color: yellow;
}

h2 {
	font-size: 1em;
	text-transform: uppercase;
	color: yellow;
}
